doctype html
html(ng-app='ziplacesApp')
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/angular/angluar.min.js')
    script(src='/angular/ziplacesApp.js')
  body
    block content
